<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.drnkn.valv.auth-callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>valv</string>
			</array>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://valvsync.com/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>FcdndgsVICc2oaKuK6GvV7TmKnlNbTUrn2jrc6Ftyl0=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
